name: Java CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    
jobs:
  test:
    name: Java CI - test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: [8, 11, 17]

    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: ${{ matrix.java }}
      - name: Build with Maven
        run: >
          mvn install 
          --define "skipTests=true" 
          --define "mavin.javadoc.skip=true" 
          --batch-mode 
          --show-version 
          --file duo-client/pom.xml
      - name: Test with Maven
        run: >
          mvn test 
          --batch-mode 
          -file duo-client/pom.xml
      - name: Lint with checkstyle
        run: mvn checkstyle:check
